#converter-app {
    .section_left-side {
        div.container {
            &:hover {
                background-color: rgba(2, 134, 2, 0.4);
            }
            &:nth-of-type(1) {
                margin-top: 100px;
            }
            /*padding: 1rem 6rem 1rem 6rem;
            @media only screen and (max-width: 991px) {
                padding: 1rem 2rem 1rem 2rem;
            }
            @media only screen and (max-width: 1259px) {
                padding: 1rem 3rem 1rem 3rem;
            }*/
            width:90%;
            padding: 0.5rem;
            padding-top: 1rem;
            @media only screen and (min-width: 992px) {
                width: 80%;
            }
            @include flexbox($col, $center, $center);
            cursor: pointer;
            span {
                color: $codeA;
                font-family: sans-serif;
                font-weight: bold;
                @include textShadow();
                text-transform: uppercase;
                border-bottom: solid 3px $codeC;
                padding-bottom: 0.5rem;
                text-align: left;
                width: 100%;
            }
            div.hidden-clues {
                padding: 0;
                height: 0;
                max-height: 0;
                transition: max-height 500ms;
                width: 100%;
                background-color: $bkg3;
                overflow: hidden;
                p {
                    width: 100%;
                    user-select: none;
                    font-size: 0;
                    color: $codeE;
                    padding: 0;
                    margin: 0;
                    font-family: sans-serif;
                    letter-spacing: 0.1rem;
                    @include textShadow();
                    span {
                        color: $codeE;
                        font-family: sans-serif;
                        text-transform: none;
                        text-align: left;
                        width: 100%;
                        font-weight: normal;
                        border: none;
                        padding-bottom: 0;
                    }
                    span.background-marker {
                        background-color: rgba(2, 134, 2, 0.2);
                        color: $codeA;
                        text-transform: none;
                        border: none;
                        padding: 0 6px 0 6px;
                    }
                    span.text-marker {
                        color: $codeD;
                        border: none;
                        padding: none;
                        text-transform: none;
                    }
                }
                &.showHiddenClues {
                    height: auto;
                    padding: 0.5rem;
                    max-height: 500px;
                    overflow-y: scroll;
                    p {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}

#goBack {
    background-color: $codeC!important;
    color: $codeA!important;
    @include littleShadow();
    padding: 0.2rem!important;
    padding-bottom: 0.2rem !important;
}