$col: column;
$row: row;
$fstart: flex-start;
$center: center;
$fend: flex-end;
$sbetween: space-between;
$saround: space-around;
$bkg: #ff9900;
$bkg2: #ffd390;
$bkg3: #ffe3b9;


$bkg2Op: rgba(255,211,144,0.5);

$backA: rgba(56, 56, 56,1);
$backB: rgb(107, 80, 80);
$backC: rgba(26, 26, 26,1);
$backD: #3c8aff;
$backE: rgb(2, 134, 2);
$backF: rgb(37, 35, 42);
$codeD: rgb(146, 29, 255);
$backH: rgb(0, 151, 40);

$codeA: #0066ff;
$codeB: #0066ff;
$codeC: rgb(255, 81, 0);
//$codeD: rgb(110, 0, 212);
$codeE: rgb(2, 134, 2);
$codeF: #0066ff;
$codeG: rgba(0,102,255,1);
$codeH: rgb(139, 63, 0);