$brandcolor: #37A4DC;
$secondcolor: #A0C9EC;
$backcolor: #E7F0FA;
$brandred: #E86B6B;
$brandgray: #5D5D5D;
$cssdot:#5610C4;
$htmldot:#E86B6B;
$jsdot:#FFB000;

$fend: flex-end;
$fstart: flex-start;
$center: center;
$saround: space-around;
$sbetween: space-between;

@mixin column($justify, $align){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin row($justify, $align){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin shadow() {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.main-container {
    margin: 0 auto;
    width: 210mm;
    height: 297mm;
    @include row($center, $center);
    @include shadow();
}

*{
    box-sizing: border-box;
}